[submodule "examples/sousaball/support/microtemplates"]
	path = examples/sousaball/support/microtemplates
	url = git://github.com/creationix/microtemplates.git
[submodule "examples/sousaball/support/postgres-js"]
	path = examples/sousaball/support/postgres-js
	url = git://github.com/creationix/postgres-js.git
[submodule "support/expresso"]
	path = support/expresso
	url = git://github.com/visionmedia/expresso.git
[submodule "support/sass"]
	path = support/sass
	url = git://github.com/visionmedia/sass.js.git
[submodule "support/less"]
	path = support/less
	url = http://github.com/cloudhead/less.js.git
[submodule "support/koala"]
	path = support/koala
	url = git://github.com/visionmedia/koala.js.git
