language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "1.0"
  - "1.8"
  - "2.0"
  - "2.5"
sudo: false
script:
  - "npm run-script test-travis"
after_script:
  - "npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
