
body {
  padding: 100px;
  font: 14px/1.4 'helvetica neue', helvetica, arial, sans-serif;
}

body.subpage {
  text-align: center;
}

a {
  text-decoration: none;
  color: #3b88d8;
}

a:hover {
  text-decoration: underline;
}

p.description {
  display: block;
  width: 100%;
}

h1 { font-size: 28px; }
h2 { font-size: 20px; }

pre {
  margin: 20px 0 10px 20px;
  background: #fefefe;
  padding: 20px 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}

ul {
  padding: 0 15px;
}

ul li {
  margin: 0 20px;
  padding: 3px 0;
}

ul li code,
p code {
  color: #3b88d8;
}

ul.tags {
  list-style: none;
  padding: 0;
}

ul.tags li {
  margin: 0;
}

ul.tags li em {
  font-weight: bold;
}

ul.tags li .types {
  color: #3b88d8;
}

ul.tags li.api {
  display: none;
}

.filename {
  margin-top: -40px;
  display: block;
  float: right;
  font-style: italic;
  font-size: 12px;
  color: #ccc;
}

.button {
  -webkit-user-select: none;
  display: block;
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 0 5px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #3275bc;
  width: 112px;
  -webkit-background-clip: padding-box;
}

.button:hover {
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
  -webkit-background-clip: padding-box;
  text-decoration: none;
}

.button:active {
  background: #3282d3;
  border: 1px solid #154c8c;
  border-bottom: 1px solid #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #fff;
  text-shadow: 0 -1px 1px #2361a4;
  -webkit-background-clip: padding-box;
}

button[disabled].download-itunes,
button[disabled].download-itunes:hover,
button[disabled].download-itunes:active {
  background: #999;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: not-allowed;
  text-shadow: 0 -1px 1px #ebebeb;
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.comment {
  margin-bottom: 80px;
}

#content {
  width: 600px;
}

pre {
  overflow-x: auto;
}

code .keyword { font-weight: bold; }
code .comment { color: #999; }
code .string { color: #3b88d8; }
code .class { color: #3b88d8; font-weight: bold; }
code .variable { color: #424242; }